<%# **************************************** %>
<%#   ログインページ                             %>
<%# **************************************** %>

<div class='main-wrapper'>
  <div class='content-title'>
    <h2>ログイン</h2>
  </div>

  <div class='content-main'>
    <%= form_with model: @user, url: login_path, method: :post, id: 'login-form', class: 'user-form', local: true do |f| %>

      <div class='user-form-row'>
        <div>
          名前
        </div>
        <div>
          <%= f.text_field :name, class: 'user-form-text', id: 'user-name', placeholder: '例）近藤' %>
        </div>
      </div>

      <div class='user-form-row'>
        <div>
          パスワード
        </div>
        <div>
          <%= f.password_field :password, class: 'user-form-text', id: 'user-password', placeholder: '例）password' , maxlength: 10 %>
        </div>
      </div>

      <div class='user-form-row'>
        <%= f.submit 'ログインする', class: 'user-form-button' %>
      </div>
    <% end %>

  </div>
</div>