<%# ******************** ページフッター ******************** %>
<div class="footer-wrapper">
  <div class="footer-upper">
    お問い合わせ
  </div>
  <div class="footer-bottom">
    <div class="footer-left">
      大阪市XX区YYY
    </div>
    <div class="footer-right">
      <ul>
        <li>電話 06-6XXX-XXXX</li>
        <li>メール xxx@yyyy.zzz</li>
      </ul>
    </div>
  </div>
</div>
