<%# ******************** ページフッター ******************** %>
<div class='footer-wrapper'>
  <div class='footer-upper'>
    お問い合わせ
  </div>
  <div class='footer-bottom'>
    <div class='footer-left'>
      きよらか中学校高等学校 
    </div>
    <div class='footer-middle'>
      大阪市淀川南区大川1丁目2-3
    </div>
    <div class='footer-right'>
      <ul>
        <li>電話 06-6XXX-XXXX</li>
        <li>メール xxx@xxx.kiyoraka.ac.jp</li>
      </ul>
    </div>
  </div>
</div>
