<%# ******************** ページフッター ******************** %>
<div class="header-wrapper">
  <div class="header-title">
    <h1><%= link_to "○○部ポータル", root_path %></h1>
  </div>
  <div class="header-buttons">
    <ul>
      <% if @current_user && @current_user.admin == 0 %>
        <li class="header-button"><%= link_to "新規投稿", new_post_path %></li>
      <% end %>
      <li class="header-button"><a href="#">お知らせ</a></li>
      <li class="header-button"><a href="#">マイページ</a></li>
      <% if @current_user %>
        <li class="header-button"><%= link_to "ログアウト", "/logout" %></li>
      <% else %>
        <li class="header-button"><%= link_to "ログイン", "/login" %></li>
      <% end %>
    </ul>
  </div>
</div>
