<%# ******************** ページフッター ******************** %>
<div class="header-wrapper">
  <div class="header-title">
    <h1>○○部ポータル</h1>
  </div>
  <div class="header-buttons">
    <ul>
      <li class="header-button"><a href="#">全体へのお知らせ</a></li>
      <li class="header-button"><a href="#">コメントした投稿</a></li>
      <li class="header-button"><a href="#">マイページ</a></li>
      <li class="header-button"><a href="#" class="header-button">ログイン</a></li>
    </ul>
  </div>
</div>
