<%# ******************** ページフッター ******************** %>
<div class="header-wrapper">
  <div class="header-title">
    <h1>○○部ポータル</h1>
  </div>
  <div class="header-buttons">
    <ul>
      <li class="header-button"><%= link_to "新規投稿", new_post_path %></li>
      <li class="header-button"><a href="#">お知らせ</a></li>
      <li class="header-button"><a href="#">マイページ</a></li>
      <li class="header-button"><%= link_to "ログイン", "/login" %></li>
    </ul>
  </div>
</div>
