
<%# ******************** ページフッター ******************** %>
<div class="footer">
  <div class="footer-upper">
    お問い合わせ
  </div>
  <div class="footer-main">
    大阪市XX区YYY
  </div>
  <div class="footer-bottom">
    <ul>
      <li>電話 06-6XXX-XXXX</li>
      <li>メール xxx@yyyy.zzz</li>
    </ul>
  </div>
</div>
