<%# **************************************** %>
<%#   投稿編集ページ （管理者のみ）              %>
<%# **************************************** %>

<div class='main-wrapper'>
  <div class='content-title'>
    <h2>お知らせ投稿の編集</h2>
  </div>

  <div class='content-description'>
    <p>お知らせ投稿の編集を行います。</p>
  </div>

  <div class='content-main'>
    <%= form_with model: @post, id: 'post-edit-form', class: 'post-form', local: true do |f| %>

      <%= render partial: '/posts/post_form', locals: { f: f } %>

      <div class='user-form-row'>
        <%= f.submit '更新する', class: 'post-form-button' %>
      </div>

    <% end %>
  </div>
</div>