<div class="main-wrapper">

  <%# ********** 全体へのお知らせ ********** %>
  <div class="posts">
    <div class="content-title">
      <h2>お知らせ</h2>
    </div>
    <% if @current_user && @current_user.administrator %>
      <div class='content-description'>
        <%= link_to '新規投稿', new_post_path %>
      </div>
    <% end %>

    <div class="posts">
      <% if @posts.length >= 1 %>
        <% @posts.each do |post| %>
          <div class='post'>
            <%= link_to post.title, post_path(post) %>
          </div>
        <% end %>
      <% else %>
        <p class='post'>現在お知らせはありません</p>
      <% end %>
    </div>
  </div>

</div>
