<div class="main-wrapper">

  <%# ********** 全体へのお知らせ ********** %>
  <div class="posts">
    <div class="content-title">
      <h2>お知らせ</h2>
    </div>
    <div class="posts">
      <div class="post">
        <a href="#">2学期部費の請求書を配りました。</a>
      </div>
      <div class="post">
        <a href="#">（高校）夏季豊能地区大会の要項</a>
      </div>
      <div class="post">
        <a href="#">1学期部費が未納の方はすぐに支払ってください。</a>
      </div>
    </div>
  </div>

  <%# ********** コメントした投稿 ********** %>
  <div class="posts">
    <div class="content-title">
      <h3>自分がコメントした投稿</h3>
    </div>
    <div class="posts">
      <div class="post">
        <a href="#">（高校）夏季豊能地区大会の要項</a>
      </div>
    </div>
  </div>

</div>
