<%= render partial: "shared/header" %>

<div class="main-wrapper">
  <%# ***** タイトル ***** %>
  <div class="content-title">
    <h2>2学期部費の請求書を配りました。</h2>
  </div>
  <div class="posts">
    <div class="post">
      9月15日に2学期部費の請求書を配りました。9月30日までにお支払いください。
      <%# post.content %>
    </div>
    <div class="post-comment">
      <%# post.comments %>
    </div>
  </div>

</div>

<%= render partial: "shared/footer" %>
