<div class="main-wrapper">
  <%# ***** タイトル ***** %>
  <div class="content-title">
    <h2><%= @post.title %></h2>
  </div>
  <% if @current_user && @current_user.administrator %>
    <div class='content-description'>
      <%= link_to '投稿の編集', edit_post_path(@post) %>
    </div>
  <% end %>
  <div class="posts">
    <div class="post">
      <%= @post.content %>
    </div>
    <div class="post-comment">
      <p>コメント</p>
      <%# post.comments %>
    </div>
  </div>

</div>

<%= render partial: "shared/footer" %>
