/* **************************************** */
/*  ヘッダー部分                               */
/* **************************************** */
.header-wrapper {
  background-color:#7e13ab;
  color: white;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper {
  color: white;
}

.header-wrapper a:visited {
  color: white;
}

.header-left h1 {
  font-size: 20px;
}

.header-right {
  display: flex;
}

ul.header-buttons{
  height: 100%;
  display: flex;
  list-style: none;
}

ul.header-buttons li {
  margin-right: 5px;
}

ul.header-buttons li a, ul.header-buttons li p {
  display: block;
  height: 100%;
  padding: 20px 10px;
  color: white;
}

ul.header-buttons li a:hover {
  background-color: #9227bf;
}

/* **************************************** */
/*  フッター部分                               */
/* **************************************** */
.footer-wrapper {
  background-color: black;
  color: white;
  padding: 10px 20px;
  height: 60px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom ul {
  list-style: none;
  display: flex;
}

.footer-bottom li {
  padding-left: 2em;
}
