/* **************************************** */
/*  ユーザーログインフォーム                      */
/* **************************************** */
.user-form {
  width: 400px;
}

.user-form-row {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
}

.user-form-row div {
  width: 100%;
}

.user-form-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
}

.user-form-button {
  color: white;
  width: 100%;
  padding: 20px;
  border: 1px solid #dddddd;
  background-color: #7e13ab;
}

.user-form-select {
  width: 100%;
  padding: 10px;
}

/* **************************************** */
/*  ユーザー管理                               */
/* **************************************** */

.user-record {
  display: flex;
  margin-left: 20px;
}

.user-element {
  padding: 10px 20px;
  border: 1px solid #dddddd;
}

.user-id, .user-admin, .user-grade, .user-class {
  width: 50px;
}

.user-name, .user-parent, .user-edit {
  width: 150px;
}

.user-edit {
  width: 250px;
}
