.user-record {
  display: flex;
  margin-left: 20px;
}

.user-element {
  padding: 10px 20px;
  border: 1px solid #dddddd;
}

.user-id, .user-admin, .user-grade, .user-class {
  width: 50px;
}

.user-name, .user-edit, .user-delete, .user-parent {
  width: 100px;
}