/* ********** メイン部分 ********** */
a {
  text-decoration: none;
}

.main-wrapper {
  height: calc(100vh - 160px);
  padding: 10px 20px;
}

.content-title {
  margin: 10px;
  padding: 20px;
  border-left: 10px solid #7e13ab;
  border-bottom: 1px solid #dddddd;
}

.posts {
  margin-bottom: 20px;
}

.post {
  margin: 0 20px;
  padding: 1em;
  box-shadow: 0 2px 6px #c1ced7;
  background-color: white;
}
